.custom-checkbox {
    &__field {
        display: none;
    }

    &__label {
        display: inline-block;
        padding: 8px;
        border: 1px solid $color-dim-gray;
        border-radius: 8px;
        cursor: pointer;

        font-size: 13px;
        line-height: 16px;
        color: $color-dim-gray;

        &:focus-visible,
        &:hover {
            background-color: $color-suva-grey;
            color: $color-white;
        }

        // &--active {
        //     border: 1px solid $color-blue;
        //     color: $color-blue;
        // }
    }

    &__field:checked + 
    &__label {
        border: 1px solid $color-blue;
        color: $color-blue;
    }
}