.index-page {
    &__title {
        font-size: 40px;
        line-height: 52px;
        font-weight: 300;
        color: $color-blue;
        margin: 0 auto 60px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__link {
        font-size: 24px;
        line-height: 28px;
        width: fit-content;
    }
}