.link-back {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  

  &__text {
    color: $color-suva-grey;
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-blue;
    }
  }
}
